.footer {
    margin-top: 25px;
    position:relative;
    bottom:0;
    width:100%;
    background-color: #2d4ea8;
    padding: 20px;
    height: 80px;
}
.list{
    list-style: "";
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
}